.signup-mainContent{
  width: 90%;
  display: flex;
  margin: auto;
  background-color: #00DF82;
  padding: 25px;
  margin-bottom: -30px;
  margin-top: 25px;
}


.signup-otherContent{
  width: 50%;
  padding: 50px;

}
.signup-otherContent p{
  font-weight: 400;
  font-size: 64px;
  line-height: 78.6px;
}

.center-stepper{
  width: 50%;
 
 
}


/* ----------------------------CSS for small screen ---------------------------- */

@media only screen and (max-width : 768px){
  .signup-mainContent{
    display: block;
  }

  .signup-otherContent {
    width: 100%;
  }

  .signup-otherContent h1 {
    font-size: 50px
  }

  .center-stepper{
    width: 100%;
  }

}

@media only screen and (max-width : 320px){
  .signup-mainContent{
    display: block;
  }

  .signup-otherContent {
    width: 100%;
    
  }

  .signup-otherContent p {
    font-size: 50px;
    line-height: 65px;
  }

  .center-stepper{
    width: 100%;
  }

}