.headerBox {
  width: 100%;
  display: flex;
  padding: 50px;
}

.header-text {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.info-text {
  color: white;
}

.info-text h1 {
  font-weight: 500;
  font-size: 120px;
  line-height: 132px;
  align-items: center;
}

.info-text p {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.9px;
  align-items: center;
  margin-top: 30px;
}

.you-can-request {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.you-can-request .you-can-request-button, .login-button {
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 100px;
  background: #00DF82;
  text-decoration: none;
  transition: background 0.5s;
  border: 1px solid #00DF82;
}

.you-can-request-button:hover, .login-button:hover {
  color: white;
}

/* services */
.services-list-1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

/* service-1 class */
.services-list-1 .service-1{
  background: #5C2BE9;
  padding: 16px 24px;
  border-radius: 16px;
  transition: background 0.5s, transform 0.5s;
  position: relative; 
  min-height: 200px; 
}

/* Text content inside the services */
.services-list-1 p{
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 50px;
}

/* service-icon-1 class */
.service-1 .service-icon-1{
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Fix the position at the bottom of the container */
  bottom: 16px; /* Distance from the bottom of the container */
  left: 0;
  padding: 0 24px;
}

/* Buttons inside service-icon-1 */
.service-1 .service-icon-1 button{
  /* width: 117px; */
  height: 45px;
  border-radius: 100px;
  padding: 8px 24px;
}

/* Icon inside service-icon-1 */
.service-1 .service-icon-1 i{
  font-size: 44px;
  color: #936BFE;
}


/* service-list-2 class, containing service-2 divisions */
.services-list-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list-2 .service-2 {
  padding: 16px 24px;
  border-radius: 16px;
  transition: background 0.5s, transform 0.5s;
  position: relative; 
  min-height: 300px;
}

.services-list-2 p {
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
}

.services-list-2 .service-icon-2 {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Fix the position at the bottom of the container */
  bottom: 16px; /* Distance from the bottom of the container */
  left: 0;
  padding: 0 24\px;
}

.service-icon-2 button {
  /* width: 117px; */
  height: 45px;
  border-radius: 100px;
  padding: 8px 24px;
}

.service-icon-2 i {
  font-size: 44px;
}

.allServices-view{
  margin-top: 50px;
  margin-bottom: 50px;
}
.allserviceview{
  width: 100%;
  border: 1px solid #888888;
  border-radius: 500px;
  display: flex;
  /* margin-top: 20px; */
}
.allservicesview-icon {
  width: 10%;
  text-align: center;
  padding: 20px;
}

.allservicesview-icon i{
  padding: 20px;
  font-size: 50px;
  border-radius: 50%;
}
.allservicesview-name {
  width: 50% ;
  text-align: center;
  margin: auto;
  padding: 20px;

}

.allservicesview-name p{
  font-weight: 400;
  font-size: 32px;
  color: #ffffff;
}
.allservicesview-content {
  width: 80%;
  background-color: #282828;
  border-radius: 500px;
  color: #ffffff;
  padding: 20px;
  border: 1px solid #888888;
}


.allservicesview-content .allserviceview-content-text{
    border-radius: 500px;
}

@media only screen and (max-width: 768px) {
  .headerBox {
    display: block;
  }

  .headerBox .headerBoxImage {
    width: 100%;
  }

  .allserviceview{
    display: block;
    border-radius: 50px;
    margin-top: 10px;
  }
  .allserviceview:hover{
    background-color: #00DF82;
  }
  .allservicesview-icon, .allservicesview-name, .allservicesview-content{
    width: 100%;
  }

  .allservicesview-content{
    border-radius: 0 0 50px 50px;
  }

}
