.headerBox {
  width: 100%;
  display: flex;
  padding: 50px;
}

.header-text {
  width: 100%;
  margin: auto;
  text-align: center;
  margin-top: 10%;
}

.info-text {
  color: white;
}

.info-text h1 {
  font-weight: 500;
  font-size: 120px;
  line-height: 132px;
  align-items: center;
}

.info-text p {
  font-weight: 400;
  font-size: 28px;
  line-height: 32.9px;
  align-items: center;
  margin-top: 30px;
}

.you-can-request {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

.you-can-request .you-can-request-button {
  display: block;
  margin: 20px auto;
  width: fit-content;
  padding: 16px 32px;
  border-radius: 100px;
  background: #00DF82;
  text-decoration: none;
  transition: background 0.5s;
  border: 1px solid #00DF82;
  color: #282828;
}

.you-can-request-button:hover {
  color: white;
}

/* services */
.services-list-1{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.maincard{
  position: relative;
  min-height: 300px;
}

.thecard{
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}
.thecard:hover{
  transform: rotateY(180deg);
}
/* service-1 class */
.services-list-1 .service-1{
  position: absolute;
  background: #5C2BE9;
  padding: 16px 24px;
  border-radius: 16px;
  transition: background 0.5s, transform 0.5s;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
}

.service-1-back{
  position: absolute;
  border-radius: 16px;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
.service-2-back{
  position: absolute;
  border-radius: 16px;
  backface-visibility: hidden;
  width: 100%;
  height: 100%;
  transform: rotateY(180deg);
}
/* Text content inside the services */
.services-list-1 p{
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
  margin-bottom: 50px;
}

/* service-icon-1 class */
.service-1 .service-icon-1{
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Fix the position at the bottom of the container */
  bottom: 16px; /* Distance from the bottom of the container */
  left: 0;
  padding: 0 24px;
}

/* Buttons inside service-icon-1 */
.service-1 .service-icon-1 button{
  /* width: 117px; */
  height: 45px;
  border-radius: 100px;
  padding: 8px 24px;
}

/* Icon inside service-icon-1 */
.service-1 .service-icon-1 i{
  font-size: 44px;
  color: #936BFE;
}


/* service-list-2 class, containing service-2 divisions */
.services-list-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-gap: 40px;
  margin-top: 50px;
}

.services-list-2 .service-2 {
  padding: 16px 24px;
  border-radius: 16px;
  transition: background 0.5s, transform 0.5s;
  position: absolute; /* Fix the position at the bottom of the container */
 
  min-height: 300px;
}

.services-list-2 p {
  font-weight: 400;
  font-size: 25px;
  line-height: 28px;
  color: #ffffff;
}

.services-list-2 .service-icon-2 {
  width: 100%;
  color: #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute; /* Fix the position at the bottom of the container */
  bottom: 16px; /* Distance from the bottom of the container */
  left: 0;
  padding: 0 24\px;
}

.service-icon-2 button {
  /* width: 117px; */
  height: 45px;
  border-radius: 100px;
  padding: 8px 24px;
}

.service-icon-2 i {
  font-size: 44px;
}


/* other info */

.picinfo{
  width: 75%;
  padding: 50px;
  margin: auto;
  margin-top: 50px;
  color: #FFFFFF;
  margin-bottom: 50px;
}

.picinfo h1{
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
}

.picinfo p{
  font-weight: 400;
 font-size: 40px;
 
}



@media only screen and (max-width: 768px) {
  .headerBox {
    display: block;
  }

  .headerBox .headerBoxImage {
    width: 100%;
  }

  .allserviceview{
    display: block;
    border-radius: 50px;
    margin-top: 10px;
  }
  .allserviceview:hover{
    background-color: #00DF82;
  }
  .allservicesview-icon, .allservicesview-name, .allservicesview-content{
    width: 100%;
  }

  .allservicesview-content{
    border-radius: 0 0 50px 50px;
  }

}

@media only screen and (max-width: 320px) {
  .headerBox {
    display: block;
    width: 100%;
  }

  .headerBox .headerBoxImage {
    width: 100%;
  }

  .allserviceview{
    display: block;
    border-radius: 50px;
    margin-top: 10px;
  }
  .allserviceview:hover{
    background-color: #00DF82;
  }
  .allservicesview-icon, .allservicesview-name, .allservicesview-content{
    width: 100%;
  }

  .allservicesview-content{
    border-radius: 0 0 50px 50px;
  }

}