.requestPage{
  width: 80%;
  margin: auto;
  margin-top: 100px;
  background-color: #282828;
}

.dashboard-newRequest{
  display: flex;
  justify-content: space-around;
}

.dashboard-newRequest-button button{
  background-color: #00DF82;
  color: #282828;
}

.dashboard-newRequest-button svg{
 margin-left: 10px;
}
.dashboard-newRequest-search{
  display: flex;
  background-color:#080808 ;
  width: 80%;
  align-items: center;
  justify-content: space-around;
}

.dashboard-newRequest-search-icon{
  width: 5%;

  text-align: center;
}
.dashboard-newRequest-search-input{
  width: 90%;
  background-color: #00DF82;
}


.dashboard-newRequest-search-input input{
  width: 100%;
  background-color: #080808;
  border: 0px;
  color: #FFFFFF;
  outline: #080808;
}
.request-tableContent{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.request-tableContent th{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: green;
    color: yellow;
    font-size: larger;
}

.request-tableContent td{
    border: 1px solid black;
    padding: 8px;
    text-align: center;
    background-color: gainsboro;
    color: black;
    font-size: larger;
}

#request-tableContent tr:nth-child(even){background-color: #f2f2f2;}

.dashboard-request {
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .dashboard-request h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .request-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
  }
  
  .request-table th, .request-table td {
    padding: 12px 15px;
    text-align: left;
    
    border: 1px solid #888888;
  }
  
  .request-table th {
    background-color: #00DF82;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.03em;

  }
  
  .request-table tbody tr:nth-child(even) {
    background-color:#282828;
    text-align: center;
    color: #ffffff;
  }
  
  .request-table tbody tr:nth-child(odd) {
    background-color:#282828;
    color: #ffffff;
  }
  
  .request-table tbody tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
    color: #282828;
  }
  
  @media screen and (max-width: 768px) {
    .request-table, .request-table thead, .request-table tbody, .request-table th, .request-table td, .request-table tr {
      display: block;
    }
    
    .request-table thead tr {
      display: none;
    }
    
    .request-table td {
      padding: 10px;
      text-align: right;
      position: relative;
      border: none;
      border-bottom: 1px solid #ddd;
    }
    
    .request-table td::before {
      content: attr(data-label);
      position: absolute;
      left: 10px;
      width: calc(100% - 20px);
      text-align: left;
      font-weight: bold;
    }
  }