.footer {
    width: 90%;
    text-align: center;
    padding: 10px;
    font-weight: 300;
    margin: auto;
    margin-top: 20px;
    color: white;
    background-color: #282828;
    border-radius: 16px 16px 0 0 ;
    display: flex;
    justify-content: space-between;

}

.footer-button{
    display: flex;
    gap: 20px;

}

.footer-button-1{
    border-radius: 100px;
    padding: 8px 24px;
    background-color: #080808;
}


.footer-button-2{
    border-radius: 100px;
    padding: 8px 24px;
    background-color: #ffffff;
    color: #080808;
}
.footer-copyright{
    margin-right: 90px;
    margin-top: 10px;
}


.footer-copyright p{
    font-weight: 400;
    font-size: 14px;
    line-height: 16.8px;
    align-items: center;
    color: #00DF82;
}

@media only screen and (max-width : 768px){
    .footer{
        width: 90%;
        display: block;
    }

    .footer-button{
        display: block;
        margin-top: 30px;
    
    }

    .footer-button-2{
        margin-top: 30px;

    }

}

@media only screen and (max-width : 320px){
    .footer{
        width: 90%;
        display: block;
    }

    .footer-button{
        display: block;
        margin-top: 30px;
    
    }

    .footer-button-2{
        margin-top: 30px;

    }
}