.login-container{
  width: 90%;
  display: flex;
  margin: auto;
  background-color: #00DF82;
  padding: 25px;
  margin-bottom: -30px;
  margin-top: 25px;
}
.login-otherContent{
width: 50%;
padding: 50px;
text-align: start;
}

.login-otherContent p{
  font-weight: 400;
  font-size: 64px;
  line-height: 78.6px;
}

.login-contentBox{
width: 50%;
padding: 20px;
margin-bottom: 20px;


}

.login-form{
  width: 80%;
  margin: auto;
  padding: 40px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 12px;

}

.login-h1 h1{
  font-weight: 500;
  font-size: 80px;
  line-height: 96px;
  color: #ffffff;
}   

.login-form h3{
  color: #ff004f;
  margin: 10px;
}

.login-form input{
  width: 100%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

.login-form input:focus{
  
border-color: #0c6c14;
box-shadow: 0 0 8px #0c6c14;
background-color: #333;

}

.login-form input:focus-visible{
outline: 2px solid #0c6c14;
outline-offset: 4px;
}

button{
  border: 2px solid #080808;
  border-radius: 100px;
  padding: 8px 24px;
  background: #080808;
  color: #00DF82;
  font-size: 18px;
  text-decoration: none;
  transition: all 0.3s ease;
  cursor: pointer;
}


.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.1s ease-in-out;

}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.9);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}


.popup-content {
  background: rgba(0, 0, 0, 0.5);
  color: green;
  border: 1px solid green;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.close-button{
  display: block;
  margin: auto;
  width: fit-content;
  border: 1px solid green;
  padding: 5px 10px;
  border-radius: 6px;
  background: #262626;
  color: green;
  text-decoration: none;
  transition: background 0.5s;
}

/* ----------------------------CSS for small screen ---------------------------- */

@media only screen and (max-width : 768px){
.login-container{
  display: block;
}

.login-otherContent{
  width: 100%;
}

.login-otherContent i{
  font-size: 200px
}

.login-contentBox{
  width: 100%;
}
}